.App {
    display: flex;
    position: relative;
}

.navbar-container {
    flex: 0.25;
}

.mobile-navbar {
    display: none;
    height: 3px;
    width: 25px;
    background: #333;
    position: relative;
    margin: 1rem;
    margin-top: 3rem;
}

.mobile-navbar:before,
.mobile-navbar:after {
    content: '';
    background: #333;
    position: absolute;
    bottom: 8px;
    height: 3px;
    width: 25px;
}

.mobile-navbar:after {
    bottom: 0;
    top: 8px;
    height: 3px;
}

.container {
    flex: 0.75;
}

@media screen and (max-width: 568px) {
    .navbar-container {
        display: none;
    }

    .mobile-navbar {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        cursor: pointer;
    }
}