.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination button {
  cursor: pointer;
  border: none;
  margin: 0 2rem;
  background: transparent;
  font-size: 1.2rem;
  color: #333;
}