.bar {
  padding: 1rem;
  border-radius: 25px;
  border: none;
  outline: none;
  background: #eee;
}

.bar input {
  border: none;
  background: transparent;
  padding: 0 1rem;
  outline: none;
  width: 250px;
}

@media screen and (max-width: 568px) {
  .bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 1rem;
  }
  
  .bar input {
    width: 150px;
  }
}